<ion-header>
  <ion-navbar>{{strings.APP_NAME}}</ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="!showDistribution">
    <ion-item>
      <ion-label>{{strings.CAREER_LABEL}}</ion-label>
      <ion-select [(ngModel)]="selectCarrera.id" [placeholder]="'Selecciona una carrera'" (ionChange)="onChangeCareer()">
        <ion-option *ngFor="let mCarrera of carreras" [value]="mCarrera.id" selected="false"> {{mCarrera.nombre}} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{strings.LEVEL_LABEL}}</ion-label>
      <ion-select [(ngModel)]="selectNivel.id" [placeholder]="'Selecciona un nivel'" (ionChange)="processSubjectsLoad()">
        <ion-option *ngFor="let mNivel of niveles" [value]="mNivel.id" selected="false"> {{mNivel.nombre}} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selectCarrera && selectCarrera.id !== 0 && selectNivel && selectNivel.id !== 0">
      <ion-label>{{strings.SUBJECT_LABEL}}</ion-label>
      <ion-select [(ngModel)]="selectMateria" [placeholder]="'Selecciona una materia'" (ionChange)="onChangeSubject()">
        <ion-option *ngFor="let mMateria of filteredMaterias" [value]="mMateria" selected="false"> {{mMateria.nombre}} </ion-option>
      </ion-select>
    </ion-item>
      <ion-label>{{strings.COMISSION_LABEL}}</ion-label>
    <ion-item *ngIf="selectMateria && selectMateria.id !== 0">
      <ion-select [(ngModel)]="selectComision" [placeholder]="'Selecciona una comisión'">
        <ion-option *ngFor="let mComision of comisiones" [value]="mComision" selected="false"> {{mComision.nombre}} </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{strings.DATE_LABEL}}</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat= "DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
  </ion-list>
  <div style="padding-top: 50px"></div>
  <div *ngIf="showDistribution">
    <span [innerHTML]="distribution"></span>
    <div style="padding-top: 50px"></div>
  </div>
  <button class="myButton" ion-button block *ngIf="!showDistribution" (tap)="searchDistribucion()">{{strings.SEARCH_LABEL}}</button>
  <button class="myButton" ion-button block *ngIf="showDistribution" (tap)="newQuery()">{{strings.NEW_QUERY_LABEL}}</button>
</ion-content>
<ion-footer></ion-footer>
