.resultContainer{
    margin-top: 1em;
}

.bloque {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.myButton {
    margin: 0 auto;
    width: 95%;
    height: 3em;
}

ion-select {
    max-width: 75%;
}
